# You must first activate a Billing Account here: https://platform.openai.com/account/billing/overview
# Then get your OpenAI API Key here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=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

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=xekcZ0ONKgLfLUgNknEx790i
# Create a GitHub OAuth app here: https://github.com/settings/applications/new
# Authorization callback URL: https://authjs.dev/reference/core/providers_github#callback-url
AUTH_GITHUB_ID=bisimusic
AUTH_GITHUB_SECRET=Bisi01obat123
# Support OAuth login on preview deployments, see: https://authjs.dev/guides/basics/deployment#securing-a-preview-deployment
# Set the following only when deployed. In this example, we can reuse the same OAuth app, but if you are storing users, we recommend using a different OAuth app for development/production so that you don't mix your test and production user base.
# AUTH_REDIRECT_PROXY_URL=https://YOURAPP.vercel.app/api/auth

# Instructions to create kv database here: https://vercel.com/docs/storage/vercel-kv/quickstart and 
KV_URL="https://actual-sturgeon-43545.kv.vercel-storage.com/set/user_1_session/session_token_value"   -H "Authorization: Bearer AaoZASQgMTFkZjVmN2EtZDk0Zi00ZDcxLTllN2EtZjIzMTc0N2Q1NjY1OWYxZDJiNTk0MGVhNDhjOThhMmIwZWE2NGNmYTA3Mzc="
KV_REST_API_URL="https://actual-sturgeon-43545.kv.vercel-storage.com/set/user_1_session/session_token_value"
KV_REST_API_TOKEN= Bearer AaoZASQgMTFkZjVmN2EtZDk0Zi00ZDcxLTllN2EtZjIzMTc0N2Q1NjY1OWYxZDJiNTk0MGVhNDhjOThhMmIwZWE2NGNmYTA3Mzc="


